.factBox {
  background-color: #d7d7d7;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}

.textContainer {
  max-width: 500px;
  margin: 0 auto;
  p {
    margin-bottom: 30px;
  }
}
